@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  height: 500px;
}
.main .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 85%;
}
.main .top .topleft {
  text-align: left;
}
.main .top .topleft h1 {
  font-weight: 600px;
  color: #ac2631;
  font-size: 40px;
  padding-top: 40px;
}

.main .top .topleft p {
  font-weight: 600px;
  color: #525252;
  font-size: 14px;
}

.main .top .carousel-arrows button {
  font-size: 2rem;
  border: none;
  border-radius: 100%;
  background-color: transparent;
  width: 4.2rem;
  -webkit-box-shadow: -1px 1px 10px 1px rgba(209, 209, 209, 0.49);
  -moz-box-shadow: -1px 1px 10px 1px rgba(209, 209, 209, 0.49);
  box-shadow: -1px 1px 10px 1px rgba(175, 175, 175, 0.49);
  cursor: pointer;
}

.main .top .carousel-arrows button:hover {
  transition: 0.75s;
  background-color: #b0b0b0;
}

.main .top .carousel-arrows button:active {
  background-color: #525252;
}
.main .top .carousel-arrows .prev {
  margin-right: 10px;
  padding-top: 9px;
  align-items: center;
  justify-content: center;
}

.main .top .carousel-arrows .next {
  padding-top: 9px;
  align-items: center;
  justify-content: center;
}

.slick-list {
  margin-top: 20px !important;
  padding-bottom: 10px !important;
}

@media (max-width: 800px) {
  .main .top {
    flex-direction: column;
  }
  .main .top {
    position: relative;
  }
  .main .top .carousel-arrows {
    position: absolute;
    top: 30px;
    right: 0;
    margin-right: 0;
  }
}

/* 
.main .maincard {
  background-color: #ac2631;
} */

.main .maincard .card {
  margin: auto;
  width: 85%;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  background-color: white;
}
.main .maincard .card button {
  padding: 6px 14px;
  border-radius: 10px;
  border: none;
}

.c1 {
  color: red;
  background-color: rgba(255, 168, 168, 0.437);
}

.c2 {
  color: #b000dc;
  background-color: rgba(241, 168, 255, 0.395);
}

.c3 {
  color: #0cbe64;
  background-color: rgba(95, 232, 170, 0.447);
}

.c4 {
  color: #0058dc;
  background-color: rgba(168, 181, 255, 0.437);
}

.c5 {
  color: rgb(212, 106, 0);
  background-color: rgba(255, 146, 29, 0.437);
}

.c2p {
  padding-bottom: 18px;
}
.c5p {
  padding-bottom: 19px;
}

.main .maincard .card h2 {
  padding-top: 10px;
  font-size: 18px;
  font-weight: 600;
}
.main .maincard .card p {
  padding-top: 10px;
  font-size: 12px;
  color: #525252;
}

.red-section {
  background-color: #fdeeee;
  height: 200px;
}
