@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

.hero-section {
  height: 690px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.box-1 {
  height: 100%;
  width: 100%;
  background-color: #ffeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box-1 .title {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 55px;
}

.box-1 .subtitle {
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 25px;
  margin-top: 4%;
  color: rgb(119, 119, 119);
}

.box-1 button {
  background-color: #e84855;
  color: #fff;
  border: 0cm;
  padding: 12px 40px 12px 40px;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 15%;
  transition: background-color 0.5s, transform 0.5s;
  cursor: pointer;
}

.box-1 button:hover {
  background-color: #ae3643; /* Darker shade on hover */
  transform: scale(1.1);
}

.title-box {
  padding-left: 7%;
  margin: 1% 10% 10% 15%;
}
.box-2 {
  height: 100%;
  width: 100%;
  background-color: #ffeeee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  position: relative;
}

.img-box {
  height: 65%;
  width: 85%;
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-end; */
  overflow: hidden;
  margin-top: -12%;
  position: absolute;
  right: 0;
}

.f1-img {
  max-width: 100%;
  /* height: 100%; */
  object-fit: contain;
}

@media (max-width: 1370px) {
  .box-1 .title {
    font-size: 50px;
  }

  .box-1 .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 1240px) {
  .box-1 .title {
    font-size: 45px;
  }
}

@media (max-width: 1008px) {
  .hero-section {
    height: 600px;
  }

  .box-1 .title {
    font-size: 40px;
  }

  .box-1 .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 700px) {
  .hero-section {
    height: 480px;
  }

  .box-1 .title {
    font-size: 28px;
  }

  .box-1 .subtitle {
    font-size: 12px;
  }

  .box-1 button {
    padding: 8px 38px 8px 38px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 15%;
  }
}

@media (max-width: 600px) {
  .hero-section {
    height: 1100px;
  }

  .box-1 {
    height: 550px;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 5%;
  }
  .box-1 .title-box {
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-left: 0;
  }

  .box-1 .title {
    font-size: 38px;
    text-align: center;
    font-weight: 600;
  }

  .box-1 .subtitle {
    font-size: 18px;
    text-align: center;
  }

  .container {
    height: 100%;
    flex-direction: column;
  }

  .box-1 button {
    border: 0cm;
    padding: 14px 48px 14px 48px;
    border-radius: 5px;
    font-size: 1.6rem;
    font-weight: 300;
    margin-top: 15%;
  }

  .box-1 .title-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .box-2 {
    height: 600px;
    align-items: center;
    justify-content: flex-end;
  }
  .box-2 .img-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    margin-top: 0;
  }
  .f1-img {
    height: auto;
    width: 100%;
    transform: rotate(90deg);
    margin-bottom: 16%;
  }
}

@media (max-width: 550px) {
  .box-1 .title-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .box-1 .title-box {
    padding-top: 70px;
  }

  .box-1 .title {
    font-weight: 600;
  }

  .box-1 .subtitle {
    font-weight: 500;
    font-size: 20px;
  }

  .box-1 .title-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-section {
    height: 1000px;
  }

  .box-1 {
    height: 50%;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 5%;
  }

  .box-2 {
    height: 50%;
    align-items: center;
    justify-content: flex-end;
  }

  .box-2 .img-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    margin-top: 0;
  }

  .f1-img {
    height: auto;
    width: 100%;
    transform: rotate(90deg);
    margin-bottom: 16%;
  }
}

@media (max-width: 400px) {
  .box-1 .title {
    font-size: 33px;
  }

  .box-1 .subtitle {
    font-weight: 500;
    font-size: 17px;
  }

  .box-1 .title-button {
    margin-top: 20px;
  }

  .hero-section {
    height: 850px;
  }

  .box-1 {
    height: 50%;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 5%;
  }

  .box-2 {
    height: 50%;
    align-items: center;
    justify-content: flex-end;
  }

  .box-2 .img-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    margin-top: 0;
  }

  .f1-img {
    height: auto;
    width: 100%;
    transform: rotate(90deg);
    margin-bottom: 16%;
  }
}

@media (max-width: 350px) {
  .hero-section {
    height: 780px;
  }

  .box-1 {
    height: 50%;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 5%;
  }

  .box-2 {
    height: 50%;
    align-items: center;
    justify-content: flex-end;
  }

  .box-2 .img-box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: visible;
    position: relative;
    margin-top: 0;
  }

  .f1-img {
    height: auto;
    width: 100%;
    transform: rotate(90deg);
    margin-bottom: 16%;
  }
}
