/* .main-nav{
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 3fr 10rem;

}

.logo{
    display: grid;
    background-color: red;
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
}

.menu-link{
    grid-column: 4/5;
}

.menu-link ul{
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu-link ul li a{
    text-transform: capitalize;
} */
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* 
 

/* navbar style start  */

.main-nav {
  width: 100%;
  height: 12rem;
  display: grid;
  background-color: #FBEEEE;
  grid-template-columns: 13rem 1fr 1fr 3fr 10rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.logo {
  display: grid;
  /* background-color: #3b5998; */
  grid-column: 2/3;
  justify-content: start;
  align-items: center;
}

.logo-black{
  height: 37px;
  width: 180px;
}

.menu-link {
  grid-column: 4/5;
}

.menu-link ul {
  height: 12rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-link ul li button{
    background-color: #E84855;
    color: #FFF;
    border: 0cm;
    padding: 8px 32px 8px 32px;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 300;
}

/* 
.social-media {
  grid-column: 4/5;
} */

.social-media ul {
  height: 10rem;
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  align-items: center;
  justify-content: flex-end;
}

.social-media ul li {
  text-align: right;
}

.social-media ul li:first-child {
  grid-column: 2/3;
}

/* ----------- Grid part ends ----------------- */

.logo h2 {
  font-size: 3.5rem;
  font-weight: 400;
  background-color: #ff0000;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo h2 span {
  font-size: 3.5rem;
}

.menu-link ul li {
  font-size: 1.8rem;
}

.menu-link ul li a {
  text-transform: capitalize;
  color: rgba(0, 0, 3);
  transition: 0.5s;
}
.menu-link ul li:hover > a {
  transform-origin: left;
  color: rgb(235, 4, 4);
  transition: 0.5s;
}

.social-media ul li {
  font-size: 1.8rem;
}

.social-media .hamburger-menu {
  display: none;
}

/* hero section   */

.hero-section {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero-section p {
  font-size: 3rem;
  text-transform: capitalize;
}

.hero-section h1 {
  font-size: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/* responsive css style  */
/* -------------------------------------@media (max-width: 1080px) -------------------------- */
@media (max-width: 1080px) {
  .main-nav {
    width: 100%;
    height: 12rem;
    display: grid;
    background-color: #FBEEEE;
    grid-template-columns: 7rem 1fr 1fr 3fr 4rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  
  .logo,
  .menu-link ul,
  .social-media ul {
    height: 8rem;
  }
  
}


/* -------------------------------------@media (max-width: 1008px) -------------------------- */
@media (max-width: 1008px) {
  .main-nav {
    height: 7rem;
    grid-template-columns: 7rem 2fr 3fr 2rem 7rem;
    padding-top: 15px;
  }

  .menu-link {
    display: none;
  }

  .logo,
  .social-media ul {
    height: 7rem;
  }

  .mobile-menu-link {
    grid-column: 2/4;
    position: relative;
    z-index: 99;
  }

  .mobile-menu-link {
    background-color: white;
    height: 40rem;
    display: grid;
    grid-column: 2/5;
    align-items: center;
    /* padding-left: 3rem; */
    /* transition: all 1s linear; */
    transform-origin: top;
    box-shadow: rgba(93, 50, 50, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  .mobile-menu-link ul {
    height: 30rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }

  .mobile-menu-link ul li a{
    font-size: 20px;
  }
  .mobile-menu-link ul li:first-child {
    transition-delay: 0.2s;
  }

  .social-media {
    grid-row: 1/2;
    grid-column: 3/5;
    justify-items: end;
    align-items: center;
    transition: all 2s linear;
    position: relative;
  }

  .social-media .social-media-desktop {
    height: 0;
    display: none;
  }

  .social-media {
    height: 7rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
    position: absolute;
    right: 0;
  }
}
/* -------------------------------------@media (max-width: 798px) -------------------------- */
@media (max-width: 798px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 5rem 2fr 1fr 1fr 5rem;
  }

  .mobile-menu-link {
    height: 40rem;
  }

  .logo,
  .social-media ul {
    height: 6rem;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    display: block;
    font-size: 2.5rem;
  }
  
  .logo-black{
    height: 55%;
    width: 95%;
  }



}

/* -------------------------------------@media (max-width: 520px) -------------------------- */
@media (max-width: 520px) {
  .main-nav {
    height: 6rem;
    grid-template-columns: 4rem 4fr 1fr 1fr 4rem;
    padding-top: 20px;
  }

  .menu-link{
    height: 340px;
  }
  
  .menu-link ul{
    /* justify-content: center; */
    /* align-items: center; */
    text-align:center ;

  }
  .menu-link ul li{
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
    align-items: center;
  }

  .menu-link ul button{
    width: 150px;
    /* align-items: center; */
    
    margin-top: 15px;
  }

  
  .mobile-menu-link {
    height: 45rem;
  }
  
  .logo,
  .social-media ul {
    height: 6rem;
  }

  .logo h2 {
    font-size: 2rem;
  }

  .logo-black{
    height: 48%;
    width: 95%;
  }

  .social-media {
    height: 6rem;
    display: flex;
    justify-self: end;
    align-items: center;
  }

  .social-media .hamburger-menu {
    /* display: block; */
    font-size: 2.5rem;
    /* justify-self: flex-end !important; */
  }
  
  .social-media .hamburger-menu .hamburger-icon{
    color:#000;
  }
  /* hero section  */

  .hero-section h1 {
    font-size: 3.8rem;
  }
}
