  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

  .PrivacyApp {
    text-align: center;
  }

  .PrivacyApp-logo {
    
    pointer-events: none;
  }

  .first-title {
    border-top: none !important;
  }

  .privacycontent h3{
    border-top: black 2px solid;
    font-size: 35px;
    padding: 20px 0 20px 0;
  }
  
  .privacycontent h4{
    font-weight: 450;
    font-size: 25px;
  }

  .privacycontent h5{
    font-weight: 500;
    font-size: 22px;
  }

  .privacycontent p{
    font-size: 19px;
    padding-bottom: 20px;
  }

  .privacycontent li {
    list-style-type: disc;  
    line-height: 1.75;
    
  }

  .privacycontent ul {
    padding-inline-start: 50px;
    padding-bottom: 20px;
  }

  .cookie-section{
    padding-bottom: 0px !important;
    font-size: 18px !important;
  }


  .emailinkpp {
    padding-top: 10px;
    color: black;
  }

  .emailinkpp:hover {
    text-decoration: underline;
  }

  @media (prefers-reduced-motion: no-preference) {
    .PrivacyApp-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .PrivacyApp-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .PrivacyApp-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .PrivacyApp {
    padding: 50px;
  }
  .PrivacyApp .privacytop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: black 2px solid;
  }
  .PrivacyApp .privacytop img{
    height: 8vmin;
  }
  .PrivacyApp .privacytop button {
    background-color: #e84855;
    color: #fff;
    border: 0cm;
    padding: 8px 32px 8px 32px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    transition: background-color 0.5s, transform 0.5s;
    cursor: pointer;
  }

  .PrivacyApp .privacytop button:hover {
    background-color: #ae3643;
    background-image: none;
    color: white;
  }
  .privacyemail{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 0;
    padding-left: 50px;
    margin-top: 4px;
    
  }
  .privacyemail h2{
    padding-left: 20px;
    padding-bottom: 4px;
    font-size: 20px;
  }


  .privacycontent{
    text-align: left;
    margin-top: 100px;
  }
  .h3class{
    font-size: 2.5rem;
    font-weight: 400;
  }
  h4{
    font-size: 2rem;
    font-weight: 400;
  }
  h5{
    font-size: 1.7rem;
    font-weight: 400;
  }
  .pclass{
    font-size: large ;
  }
  .liclass{
    font-size: large;
  }

  @media(max-width: 550px){
    .PrivacyApp {
      padding: 20px;
    }
    .privacyemail{
      padding-left: 15px;
    }
    .privacyemail h2{
      font-size: 15px;
      padding-left: 10px;
    }
    .PrivacyApp .privacytop button {
      padding: 0 20px;
      font-weight: 500;
      font-size: 1.5rem;
      height: 40px !important;
      width: 100px !important;
    }
  }

  @media(max-width: 450px){
    .footer .btm{
      flex-direction: column;
      gap: 0;
    }
    .PrivacyApp .privacytop button {
      padding: 0 20px 0 20px;
      font-weight: 500;
      font-size: 1.5rem;
      height: 40px !important;
      width: 90px !important;
    }
  }

  @media(max-width:350px){
    .h3class{
      font-size: 2rem;
    }
  }

  @media(max-width: 300px){
    .PrivacyApp .privacytop button {
      padding: 0 20px;
      font-weight: 500;
      font-size: 1rem;
      height: 30px !important;
      width: 75px !important;
    }
    .PrivacyApp {
      padding: 20px;
    }
    .privacyemail h2{
      font-size: 8px;
    }
  }

  